<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>LibraryApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <script src="/lib/jquery/dist/jquery.js"></script>
    <link href="../stylesheets/style.css" rel="stylesheet">
    <script src="/js/default.js"></script>
</head>

<body>
    <header>
        <nav role="banner">
            <div>
                <div>
                    <a href="/">
                        <%= title %>
                    </a>
                </div>
                
                <div>
                    <ul>
                        <% for(var i=0; i<nav.length;i++){%>
                            <li>
                                <a href="<%=nav[i].Link%>">
                                    <%= nav[i].Text %>
                                </a>
                            </li>
                            <%}%>
                    </ul>
                </div>
                
            </div>
            
        </nav>

    </header>

    <div></div>

    <section>
        <div>
            <div>
                <h1>Library App</h1>
                
            </div>
    
        </div>
    </section>
    
    <div></div>

    <section>
        <div>
            <% for(var i=0; i<authors.length;i++){%>
                <div>
                    <div>
                        <div>
                            <h4><%=authors[i].author%></h4>
                        </div>
                        <div>
                            <div>
                                <a href="/Authors/<%=authors[i]._id%>"><img alt="" src="<%=authors[i].cover%>" style="height:100px" class="img-thumbnail"></a>
                            </div>
                            <div>
                                <p><strong><%=authors[i].title%></strong></p>
                                <p><a href="/Authors/<%=authors[i]._id%>">Read More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
        </div>

    </section>

    
    <footer>
        <nav>
            <div></div>
        </nav>
    </footer>

</body>

</html>