<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Library Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link href="../stylesheets/style.css" rel="stylesheet">
</head>

<body>
<header class = "header">
  <h1><%= title %></h1>
  <p>A catalog of books in my home library</p>
</header>
<nav class="menu">
        <% for(var i=0; i<nav.length;i++){%>
        <a href="<%=nav[i].Link%>"><%= nav[i].Text %></a>
        <%}%>
</nav>

<section class="row">
    <article class="column">
        <a href="/Books/<%=books[i]._id%>"><img alt="book cover" src="<%=books[i].cover%>" style="height:100px" class="card-image"/></a>
        <% for(var i=0; i<books.length;i++){%>
        <h3><%=books[i].title%></h3>
        <h3><%=books[i].author%></h3>
        <p><a href="/Books/<%=books[i]._id%>" class="text-muted">Read More</a>
        <%}%></p>
    </article>
</section>
<footer class="footer">
    <h1>The End</h1>
</footer>
</body>
